{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block content %}
 <div class="contact">
 <form class="contact_form">
 <ul>
 <li>
 <h2>群组详情----{{ group.group_name }}</h2>
</li>
</ul>
</form>
</div>
     <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>文件名</th>
                    <th>上传时间</th>
                    <th>上传人</th>
                    <th>下载链接</th>
                </tr>
            </thead>
            <tbody>
            {% for data in file_list %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.upload_date|date:"Y-m-d H:i:s"}}</td>
                    <td>{{ data.owner}}</td>
                    <td> <a href = "/netdisk2/download?downloadfile={{ data.id }}">点击下载</a></td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        <table>
</table>
 <div class="contact">
 <form class="contact_form">
 <ul>
 <li>
 <h2>文件上传</h2>
</li>
</ul>
</form>
</div>
    <form action="/netdisk2/upload/" method="post" enctype="multipart/form-data">
     {% csrf_token %}
        <input type="file" name="fafafa">
        <input type="hidden" name="group" value='{{group.id}}' />
        <input type="submit">
    </form>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $('#table_id').DataTable();
    });
</script>
{% endblock %}